body{
  -webkit-font-smoothing: antialiased;
  position: relative;
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
  font-family: Work Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

.dark{
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.container-fluid{
  padding-left: 55px;
  padding-right: 55px;
}

@media (max-width: 1024px){
  .container-fluid{
    padding-left: 30px;
    padding-right: 30px;
  }
}

.container-small{
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 1024px){
  .container-small{
    padding-left: 30px;
    padding-right: 30px;
  }
}

ul{
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

a{
  position: relative;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(40 238 154 / var(--tw-text-opacity));
  text-decoration-line: none;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a::before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  right: 0px;
  z-index: -10;
  height: 1px;
  width: 0px;
  --tw-bg-opacity: 1;
  background-color: rgb(40 238 154 / var(--tw-bg-opacity));
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover::before{
  width: 100%;
}

a, button, input, textarea, select{
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-width: 0px;
}

p{
  margin: 0px;
  font-family: Work Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

ul li{
  position: relative;
  padding-left: 20px;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

:is(.dark ul li){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

ul li::before{
  content: '';
  position: absolute;
  left: 0px;
  top: 8px;
  height: 6px;
  width: 6px;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(40 238 154 / var(--tw-bg-opacity));
}

h1, h2, h3, h4, h5, h6{
  margin: 0px;
  font-family: Lato, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  line-height: initial;
}

h1, .h1{
  font-size: 64px;
}

@media (max-width: 1024px){
  h1, .h1{
    font-size: 48px;
  }
}

h2, .h2{
  margin-bottom: 3.5rem;
  font-size: 48px;
}

@media (max-width: 1024px){
  h2, .h2{
    font-size: 32px;
  }
}

h3, .h3{
  font-size: 32px;
}

@media (max-width: 1024px){
  h3, .h3{
    font-size: 24px;
  }
}

h4, .h4{
  font-size: 24px;
}

@media (max-width: 1024px){
  h4, .h4{
    font-size: 20px;
  }
}

h5, .h5{
  font-size: 20px;
}

@media (max-width: 1024px){
  h5, .h5{
    font-size: 16px;
  }
}

h6, .h6{
  font-size: 16px;
}

button{
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  padding: 0px;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

section{
  position: relative;
}

.menu ul{
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.menu ul li{
  padding-left: 0px;
}

.menu ul li::before{
  --tw-content: none;
  content: var(--tw-content);
}

.menu ul li a{
  position: relative;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.menu ul li a:hover{
  --tw-text-opacity: 1;
  color: rgb(40 238 154 / var(--tw-text-opacity));
}

:is(.dark .menu ul li a){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .menu ul li a:hover){
  --tw-text-opacity: 1;
  color: rgb(40 238 154 / var(--tw-text-opacity));
}

.fadeIn{
  position: relative;
  --tw-translate-y: 5rem;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow: hidden;
  opacity: 0.5;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container-fluid{
  max-width: 100%;
}

.seachButton{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.seachButton__image{
  height: 16px;
}

.search-popup{
  position: fixed;
  top: -100%;
  left: 0px;
  right: 0px;
  z-index: 50;
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.search-popup.show{
  top: 0px;
  bottom: 0px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.search-form{
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
  padding: 7rem;
}

.search-form .form-wrapper{
  margin: auto;
  display: flex;
  max-width: 80rem;
}

.search-form .form-wrapper .close-icon{
  --tw-text-opacity: 1;
  color: rgb(40 238 154 / var(--tw-text-opacity));
}

.search-form .form-wrapper input{
  flex: 1 1 0%;
  border-bottom-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(71 85 105 / var(--tw-border-opacity));
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(40 238 154 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.search-form .form-wrapper input:focus{
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.heroSwiper .heroSwiper_image{
  height: 100%;
  border-radius: 37px;
}

.heroSwiper .heroSwiper_image .heroSwiper_image__img{
  border-radius: 37px;
  object-position: center;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-60{
  margin-bottom: 60px;
}

.mr-40{
  margin-right: 40px;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.max-w-150{
  max-width: 150px;
}

.max-w-200{
  max-width: 200px;
}

.flex-auto{
  flex: 1 1 auto;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-10{
  gap: 2.5rem;
}

.gap-11{
  gap: 2.75rem;
}

.gap-5{
  gap: 1.25rem;
}

.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-100{
  padding-top: 100px;
}

.font-bold{
  font-weight: 700;
}

.capitalize{
  text-transform: capitalize;
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(40 238 154 / var(--tw-text-opacity));
}

.text-slate-600{
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}

/* Your custom styles */

/* More styles... */

/* Responsive CSS Start */

@media (max-width: 1499px){
}

@media (max-width: 1024px){
}

@media (max-width: 768px){
}

@media (max-width: 575px){
}

/* Responsive CSS End */

:is(.dark .dark\:text-white){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (max-width: 1024px){
  .tablet\:hidden{
    display: none;
  }
}

@media (min-width: 1025px){
  .tabletMin\:hidden{
    display: none;
  }
}